In [46]:
import pandas as pd
from collections import defaultdict

from faker import Faker
import uuid
from faker.providers import DynamicProvider
fake = Faker(['en_IN'])

# Will return ['en_US']
fake.locales

['en_IN']

In [47]:
import random
State = DynamicProvider(
     provider_name="State",
     elements=["Maharashtra", "Karnataka", "Anadhra_Pradesh", "Uttar_Pradesh", "Haryana", "Rajasthan"],
)

City = DynamicProvider(
     provider_name="City",
     elements=["Pune", "Mumbai", "Satara", "Nagpur", "Nasik", "Bengalore", "Mysore", "Hubli", "Visakhapatnam", "Vijayawada", "Nellore", "Lacknow", "Kanpur", "Ghaziabad", "Chandigarh", "Delhi", "Gurgaon", "Jaipur", "Kota", "Jodhpur"],
)


fake = Faker(['en_IN'])

# then add new provider to faker instance
fake.add_provider(State)
fake.add_provider(City)

# now you can use:
fake.State()
fake.City()
# 'dr.'

'Nagpur'

In [228]:
fake_data = defaultdict(list)

In [229]:
import random

In [230]:
Faker.seed(0)
for i in range(1,1001):
    fake_data['customerid'].append(i)
    fake_data['name'].append(fake.name())
    fake_data['address'].append(fake.street_address())
    fake_data['city'].append(fake.City())
    fake_data['state'].append(fake.State())
    fake_data['pincode'].append(fake.postcode())
    fake_data['update_timestamp'].append(fake.date_time_between(start_date = "-1y", end_date = "now"))
fake.unique.clear()

In [231]:
df = pd.DataFrame(fake_data)

In [232]:
df

,customerid,name,address,city,state,pincode,update_timestamp
0,1,Tara Walia,H.No. 487\nSrinivasan Marg,Vijayawada,Uttar_Pradesh,938242,2022-03-31 05:17:29
1,2,Miraya Sura,92/41\nYogi Zila,Nellore,Uttar_Pradesh,565938,2021-12-12 22:44:21
2,3,Elakshi De,"01/60, Koshy",Nellore,Karnataka,139332,2022-04-18 14:51:39
3,4,Divij Baria,71/48\nSastry Road,Nagpur,Haryana,839894,2021-11-30 12:17:03
4,5,Kimaya Sur,H.No. 93\nChanda Road,Mysore,Karnataka,947112,2022-05-17 04:46:40
...,...,...,...,...,...,...,...
995,996,Rati Dara,"84, Mallick Chowk",Vijayawada,Anadhra_Pradesh,908344,2021-10-10 09:17:21
996,997,Miraya Vohra,"053, Bal",Lacknow,Maharashtra,573121,2022-02-20 02:25:32
997,998,Nitara Biswas,"21, Deol Chowk",Delhi,Karnataka,601703,2022-05-03 13:00:49
998,999,Diya Khosla,689\nKulkarni Ganj,Kanpur,Karnataka,852062,2021-09-08 07:32:33
999,1000,Hazel Shetty,"H.No. 98, Deshpande Zila",Pune,Uttar_Pradesh,499662,2021-07-03 22:56:17

In [233]:
len(df["state"].unique())

6

In [234]:
len(df["city"].unique())

20

In [235]:
len(df["update_timestamp"].unique())

1000

In [236]:
len(df["customerid"].unique())

1000

In [237]:
df["customerid"].duplicated().sum()

0

In [238]:
len(df["name"].unique())

994

In [239]:
len(df["address"].unique())

1000

In [240]:
len(df["pincode"].unique())

999

In [241]:
df.head()

,customerid,name,address,city,state,pincode,update_timestamp
0,1,Tara Walia,H.No. 487\nSrinivasan Marg,Vijayawada,Uttar_Pradesh,938242,2022-03-31 05:17:29
1,2,Miraya Sura,92/41\nYogi Zila,Nellore,Uttar_Pradesh,565938,2021-12-12 22:44:21
2,3,Elakshi De,"01/60, Koshy",Nellore,Karnataka,139332,2022-04-18 14:51:39
3,4,Divij Baria,71/48\nSastry Road,Nagpur,Haryana,839894,2021-11-30 12:17:03
4,5,Kimaya Sur,H.No. 93\nChanda Road,Mysore,Karnataka,947112,2022-05-17 04:46:40

In [242]:
df['city'].unique()

array(['Vijayawada', 'Nellore', 'Nagpur', 'Mysore', 'Hubli', 'Bengalore',
       'Satara', 'Gurgaon', 'Pune', 'Chandigarh', 'Jodhpur', 'Delhi',
       'Nasik', 'Lacknow', 'Kota', 'Visakhapatnam', 'Kanpur', 'Jaipur',
       'Mumbai', 'Ghaziabad'], dtype=object)

In [243]:
df.loc[df["city"] == "Pune", "state"] = "Maharashtra"
df.loc[df["city"] == "Mumbai", "state"] = "Maharashtra"
df.loc[df["city"] == "Satara", "state"] = "Maharashtra"
df.loc[df["city"] == "Nasik", "state"] = "Maharashtra"
df.loc[df["city"] == "Nagpur", "state"] = "Maharashtra"

df.loc[df["city"] == "Hubli", "state"] = "Karnataka"
df.loc[df["city"] == "Mysore", "state"] = "Karnataka"
df.loc[df["city"] == "Bengalore", "state"] = "Karnataka"

df.loc[df["city"] == "Jodhpur", "state"] = "Rajasthan"
df.loc[df["city"] == "Jaipur", "state"] = "Rajasthan"
df.loc[df["city"] == "Kota", "state"] = "Rajasthan"

df.loc[df["city"] == "Gurgaon", "state"] = "Haryana"
df.loc[df["city"] == "Delhi", "state"] = "Haryana"
df.loc[df["city"] == "Chandigarh", "state"] = "Haryana"

df.loc[df["city"] == "Kanpur", "state"] = "Uttar_Pradesh"
df.loc[df["city"] == "Ghaziabad", "state"] = "Uttar_Pradesh"
df.loc[df["city"] == "Lacknow", "state"] = "Uttar_Pradesh"

df.loc[df["city"] == "Visakhapatnam", "state"] = "Anadhra_Pradesh"
df.loc[df["city"] == "Vijayawada", "state"] = "Anadhra_Pradesh"
df.loc[df["city"] == "Nellore", "state"] = "Anadhra_Pradesh"

In [244]:
df

,customerid,name,address,city,state,pincode,update_timestamp
0,1,Tara Walia,H.No. 487\nSrinivasan Marg,Vijayawada,Anadhra_Pradesh,938242,2022-03-31 05:17:29
1,2,Miraya Sura,92/41\nYogi Zila,Nellore,Anadhra_Pradesh,565938,2021-12-12 22:44:21
2,3,Elakshi De,"01/60, Koshy",Nellore,Anadhra_Pradesh,139332,2022-04-18 14:51:39
3,4,Divij Baria,71/48\nSastry Road,Nagpur,Maharashtra,839894,2021-11-30 12:17:03
4,5,Kimaya Sur,H.No. 93\nChanda Road,Mysore,Karnataka,947112,2022-05-17 04:46:40
...,...,...,...,...,...,...,...
995,996,Rati Dara,"84, Mallick Chowk",Vijayawada,Anadhra_Pradesh,908344,2021-10-10 09:17:21
996,997,Miraya Vohra,"053, Bal",Lacknow,Uttar_Pradesh,573121,2022-02-20 02:25:32
997,998,Nitara Biswas,"21, Deol Chowk",Delhi,Haryana,601703,2022-05-03 13:00:49
998,999,Diya Khosla,689\nKulkarni Ganj,Kanpur,Uttar_Pradesh,852062,2021-09-08 07:32:33
999,1000,Hazel Shetty,"H.No. 98, Deshpande Zila",Pune,Maharashtra,499662,2021-07-03 22:56:17

In [259]:
import psycopg2

In [260]:
#establishing the connection
conn = psycopg2.connect(
   database="postgres", user='postgres', password='Krishna839#', host='34.122.187.243', port= '5432'
)
#Creating a cursor object using the cursor() method
cursor = conn.cursor()

In [261]:
create_table = ''' drop table if exists customer_master; create table customer_master(
                                customerid int primary key,
                                name varchar(50),
                                address varchar(100),
                                city varchar(30),
                                state varchar(30),
                                pincode int,
                                update_timestamp timestamp)'''

In [262]:
cursor.execute(create_table)
conn.commit()

In [263]:
temp =0
for i in range(len(df)):
    customerid = int(df['customerid'].iloc[i])
    name = str(df['name'].iloc[i])
    address = str(df['address'].iloc[i])
    city = str(df['city'].iloc[i])
    state = str(df['state'].iloc[i])
    pincode = int(df['pincode'].iloc[i])
    update_timestamp = str(df['update_timestamp'].iloc[i])
    
    query = ("insert into customer_master(customerid,name, address, city, state, pincode, update_timestamp)"
         "values (%s, %s, %s, %s, %s, %s, %s)")

    val = (customerid,name, address, city, state, pincode, update_timestamp)
    cursor.execute(query,val)
    conn.commit()
    temp = temp + 1
    print(temp, "record inserted",customerid)

1 record inserted 1
2 record inserted 2
3 record inserted 3
4 record inserted 4
5 record inserted 5
6 record inserted 6
7 record inserted 7
8 record inserted 8
9 record inserted 9
10 record inserted 10
11 record inserted 11
12 record inserted 12
13 record inserted 13
14 record inserted 14
15 record inserted 15
16 record inserted 16
17 record inserted 17
18 record inserted 18
19 record inserted 19
20 record inserted 20
21 record inserted 21
22 record inserted 22
23 record inserted 23
24 record inserted 24
25 record inserted 25
26 record inserted 26
27 record inserted 27
28 record inserted 28
29 record inserted 29
30 record inserted 30
31 record inserted 31
32 record inserted 32
33 record inserted 33
34 record inserted 34
35 record inserted 35
36 record inserted 36
37 record inserted 37
38 record inserted 38
39 record inserted 39
40 record inserted 40
41 record inserted 41
42 record inserted 42
43 record inserted 43
44 record inserted 44
45 record inserted 45
46 record inserted 46
47 record inserted 47
48 record inserted 48
49 record inserted 49
50 record inserted 50
51 record inserted 51
52 record inserted 52
53 record inserted 53
54 record inserted 54
55 record inserted 55
56 record inserted 56
57 record inserted 57
58 record inserted 58
59 record inserted 59
60 record inserted 60
61 record inserted 61
62 record inserted 62
63 record inserted 63
64 record inserted 64
65 record inserted 65
66 record inserted 66
67 record inserted 67
68 record inserted 68
69 record inserted 69
70 record inserted 70
71 record inserted 71
72 record inserted 72
73 record inserted 73
74 record inserted 74
75 record inserted 75
76 record inserted 76
77 record inserted 77
78 record inserted 78
79 record inserted 79
80 record inserted 80
81 record inserted 81
82 record inserted 82
83 record inserted 83
84 record inserted 84
85 record inserted 85
86 record inserted 86
87 record inserted 87
88 record inserted 88
89 record inserted 89
90 record inserted 90
91 record inserted 91
92 record inserted 92
93 record inserted 93
94 record inserted 94
95 record inserted 95
96 record inserted 96
97 record inserted 97
98 record inserted 98
99 record inserted 99
100 record inserted 100
101 record inserted 101
102 record inserted 102
103 record inserted 103
104 record inserted 104
105 record inserted 105
106 record inserted 106
107 record inserted 107
108 record inserted 108
109 record inserted 109
110 record inserted 110
111 record inserted 111
112 record inserted 112
113 record inserted 113
114 record inserted 114
115 record inserted 115
116 record inserted 116
117 record inserted 117
118 record inserted 118
119 record inserted 119
120 record inserted 120
121 record inserted 121
122 record inserted 122
123 record inserted 123
124 record inserted 124
125 record inserted 125
126 record inserted 126
127 record inserted 127
128 record inserted 128
129 record inserted 129
130 record inserted 130
131 record inserted 131
132 record inserted 132
133 record inserted 133
134 record inserted 134
135 record inserted 135
136 record inserted 136
137 record inserted 137
138 record inserted 138
139 record inserted 139
140 record inserted 140
141 record inserted 141
142 record inserted 142
143 record inserted 143
144 record inserted 144
145 record inserted 145
146 record inserted 146
147 record inserted 147
148 record inserted 148
149 record inserted 149
150 record inserted 150
151 record inserted 151
152 record inserted 152
153 record inserted 153
154 record inserted 154
155 record inserted 155
156 record inserted 156
157 record inserted 157
158 record inserted 158
159 record inserted 159
160 record inserted 160
161 record inserted 161
162 record inserted 162
163 record inserted 163
164 record inserted 164
165 record inserted 165
166 record inserted 166
167 record inserted 167
168 record inserted 168
169 record inserted 169
170 record inserted 170
171 record inserted 171
172 record inserted 172
173 record inserted 173
174 record inserted 174
175 record inserted 175
176 record inserted 176
177 record inserted 177
178 record inserted 178
179 record inserted 179
180 record inserted 180
181 record inserted 181
182 record inserted 182
183 record inserted 183
184 record inserted 184
185 record inserted 185
186 record inserted 186
187 record inserted 187
188 record inserted 188
189 record inserted 189
190 record inserted 190
191 record inserted 191
192 record inserted 192
193 record inserted 193
194 record inserted 194
195 record inserted 195
196 record inserted 196
197 record inserted 197
198 record inserted 198
199 record inserted 199
200 record inserted 200
201 record inserted 201
202 record inserted 202
203 record inserted 203
204 record inserted 204
205 record inserted 205
206 record inserted 206
207 record inserted 207
208 record inserted 208
209 record inserted 209
210 record inserted 210
211 record inserted 211
212 record inserted 212
213 record inserted 213
214 record inserted 214
215 record inserted 215
216 record inserted 216
217 record inserted 217
218 record inserted 218
219 record inserted 219
220 record inserted 220
221 record inserted 221
222 record inserted 222
223 record inserted 223
224 record inserted 224
225 record inserted 225
226 record inserted 226
227 record inserted 227
228 record inserted 228
229 record inserted 229
230 record inserted 230
231 record inserted 231
232 record inserted 232
233 record inserted 233
234 record inserted 234
235 record inserted 235
236 record inserted 236
237 record inserted 237
238 record inserted 238
239 record inserted 239
240 record inserted 240
241 record inserted 241
242 record inserted 242
243 record inserted 243
244 record inserted 244
245 record inserted 245
246 record inserted 246
247 record inserted 247
248 record inserted 248
249 record inserted 249
250 record inserted 250
251 record inserted 251
252 record inserted 252
253 record inserted 253
254 record inserted 254
255 record inserted 255
256 record inserted 256
257 record inserted 257
258 record inserted 258
259 record inserted 259
260 record inserted 260
261 record inserted 261
262 record inserted 262
263 record inserted 263
264 record inserted 264
265 record inserted 265
266 record inserted 266
267 record inserted 267
268 record inserted 268
269 record inserted 269
270 record inserted 270
271 record inserted 271
272 record inserted 272
273 record inserted 273
274 record inserted 274
275 record inserted 275
276 record inserted 276
277 record inserted 277
278 record inserted 278
279 record inserted 279
280 record inserted 280
281 record inserted 281
282 record inserted 282
283 record inserted 283
284 record inserted 284
285 record inserted 285
286 record inserted 286
287 record inserted 287
288 record inserted 288
289 record inserted 289
290 record inserted 290
291 record inserted 291
292 record inserted 292
293 record inserted 293
294 record inserted 294
295 record inserted 295
296 record inserted 296
297 record inserted 297
298 record inserted 298
299 record inserted 299
300 record inserted 300
301 record inserted 301
302 record inserted 302
303 record inserted 303
304 record inserted 304
305 record inserted 305
306 record inserted 306
307 record inserted 307
308 record inserted 308
309 record inserted 309
310 record inserted 310
311 record inserted 311
312 record inserted 312
313 record inserted 313
314 record inserted 314
315 record inserted 315
316 record inserted 316
317 record inserted 317
318 record inserted 318
319 record inserted 319
320 record inserted 320
321 record inserted 321
322 record inserted 322
323 record inserted 323
324 record inserted 324
325 record inserted 325
326 record inserted 326
327 record inserted 327
328 record inserted 328
329 record inserted 329
330 record inserted 330
331 record inserted 331
332 record inserted 332
333 record inserted 333
334 record inserted 334
335 record inserted 335
336 record inserted 336
337 record inserted 337
338 record inserted 338
339 record inserted 339
340 record inserted 340
341 record inserted 341
342 record inserted 342
343 record inserted 343
344 record inserted 344
345 record inserted 345
346 record inserted 346
347 record inserted 347
348 record inserted 348
349 record inserted 349
350 record inserted 350
351 record inserted 351

352 record inserted 352
353 record inserted 353
354 record inserted 354
355 record inserted 355
356 record inserted 356
357 record inserted 357
358 record inserted 358
359 record inserted 359
360 record inserted 360
361 record inserted 361
362 record inserted 362
363 record inserted 363
364 record inserted 364
365 record inserted 365
366 record inserted 366
367 record inserted 367
368 record inserted 368
369 record inserted 369
370 record inserted 370
371 record inserted 371
372 record inserted 372
373 record inserted 373
374 record inserted 374
375 record inserted 375
376 record inserted 376
377 record inserted 377
378 record inserted 378
379 record inserted 379
380 record inserted 380
381 record inserted 381
382 record inserted 382
383 record inserted 383
384 record inserted 384
385 record inserted 385
386 record inserted 386
387 record inserted 387
388 record inserted 388
389 record inserted 389
390 record inserted 390
391 record inserted 391
392 record inserted 392
393 record inserted 393
394 record inserted 394
395 record inserted 395
396 record inserted 396
397 record inserted 397
398 record inserted 398
399 record inserted 399
400 record inserted 400
401 record inserted 401
402 record inserted 402
403 record inserted 403
404 record inserted 404
405 record inserted 405
406 record inserted 406
407 record inserted 407
408 record inserted 408
409 record inserted 409
410 record inserted 410
411 record inserted 411
412 record inserted 412
413 record inserted 413
414 record inserted 414
415 record inserted 415
416 record inserted 416
417 record inserted 417
418 record inserted 418
419 record inserted 419
420 record inserted 420
421 record inserted 421
422 record inserted 422
423 record inserted 423
424 record inserted 424
425 record inserted 425
426 record inserted 426
427 record inserted 427
428 record inserted 428
429 record inserted 429
430 record inserted 430
431 record inserted 431
432 record inserted 432
433 record inserted 433
434 record inserted 434
435 record inserted 435
436 record inserted 436
437 record inserted 437
438 record inserted 438
439 record inserted 439
440 record inserted 440
441 record inserted 441
442 record inserted 442
443 record inserted 443
444 record inserted 444
445 record inserted 445
446 record inserted 446
447 record inserted 447
448 record inserted 448
449 record inserted 449
450 record inserted 450
451 record inserted 451
452 record inserted 452
453 record inserted 453
454 record inserted 454
455 record inserted 455
456 record inserted 456
457 record inserted 457
458 record inserted 458
459 record inserted 459
460 record inserted 460
461 record inserted 461
462 record inserted 462
463 record inserted 463
464 record inserted 464
465 record inserted 465
466 record inserted 466
467 record inserted 467
468 record inserted 468
469 record inserted 469
470 record inserted 470
471 record inserted 471
472 record inserted 472
473 record inserted 473
474 record inserted 474
475 record inserted 475
476 record inserted 476
477 record inserted 477
478 record inserted 478
479 record inserted 479
480 record inserted 480
481 record inserted 481
482 record inserted 482
483 record inserted 483
484 record inserted 484
485 record inserted 485
486 record inserted 486
487 record inserted 487
488 record inserted 488
489 record inserted 489
490 record inserted 490
491 record inserted 491
492 record inserted 492
493 record inserted 493
494 record inserted 494
495 record inserted 495
496 record inserted 496
497 record inserted 497
498 record inserted 498
499 record inserted 499
500 record inserted 500
501 record inserted 501
502 record inserted 502
503 record inserted 503
504 record inserted 504
505 record inserted 505
506 record inserted 506
507 record inserted 507
508 record inserted 508
509 record inserted 509
510 record inserted 510
511 record inserted 511
512 record inserted 512
513 record inserted 513
514 record inserted 514
515 record inserted 515
516 record inserted 516
517 record inserted 517
518 record inserted 518
519 record inserted 519
520 record inserted 520
521 record inserted 521
522 record inserted 522
523 record inserted 523
524 record inserted 524
525 record inserted 525
526 record inserted 526
527 record inserted 527
528 record inserted 528
529 record inserted 529
530 record inserted 530
531 record inserted 531
532 record inserted 532
533 record inserted 533
534 record inserted 534
535 record inserted 535
536 record inserted 536
537 record inserted 537
538 record inserted 538
539 record inserted 539
540 record inserted 540
541 record inserted 541
542 record inserted 542
543 record inserted 543
544 record inserted 544
545 record inserted 545
546 record inserted 546
547 record inserted 547
548 record inserted 548
549 record inserted 549
550 record inserted 550
551 record inserted 551
552 record inserted 552
553 record inserted 553
554 record inserted 554
555 record inserted 555
556 record inserted 556
557 record inserted 557
558 record inserted 558
559 record inserted 559
560 record inserted 560
561 record inserted 561
562 record inserted 562
563 record inserted 563
564 record inserted 564
565 record inserted 565
566 record inserted 566
567 record inserted 567
568 record inserted 568
569 record inserted 569
570 record inserted 570
571 record inserted 571
572 record inserted 572
573 record inserted 573
574 record inserted 574
575 record inserted 575
576 record inserted 576
577 record inserted 577
578 record inserted 578
579 record inserted 579
580 record inserted 580
581 record inserted 581
582 record inserted 582
583 record inserted 583
584 record inserted 584
585 record inserted 585
586 record inserted 586
587 record inserted 587
588 record inserted 588
589 record inserted 589
590 record inserted 590
591 record inserted 591
592 record inserted 592
593 record inserted 593
594 record inserted 594
595 record inserted 595
596 record inserted 596
597 record inserted 597
598 record inserted 598
599 record inserted 599
600 record inserted 600
601 record inserted 601
602 record inserted 602
603 record inserted 603
604 record inserted 604
605 record inserted 605
606 record inserted 606
607 record inserted 607
608 record inserted 608
609 record inserted 609
610 record inserted 610
611 record inserted 611
612 record inserted 612
613 record inserted 613
614 record inserted 614
615 record inserted 615
616 record inserted 616
617 record inserted 617
618 record inserted 618
619 record inserted 619
620 record inserted 620
621 record inserted 621
622 record inserted 622
623 record inserted 623
624 record inserted 624
625 record inserted 625
626 record inserted 626
627 record inserted 627
628 record inserted 628
629 record inserted 629
630 record inserted 630
631 record inserted 631
632 record inserted 632
633 record inserted 633
634 record inserted 634
635 record inserted 635
636 record inserted 636
637 record inserted 637
638 record inserted 638
639 record inserted 639
640 record inserted 640
641 record inserted 641
642 record inserted 642
643 record inserted 643
644 record inserted 644
645 record inserted 645
646 record inserted 646
647 record inserted 647
648 record inserted 648
649 record inserted 649
650 record inserted 650
651 record inserted 651
652 record inserted 652
653 record inserted 653
654 record inserted 654
655 record inserted 655
656 record inserted 656
657 record inserted 657
658 record inserted 658
659 record inserted 659
660 record inserted 660
661 record inserted 661
662 record inserted 662
663 record inserted 663
664 record inserted 664
665 record inserted 665
666 record inserted 666
667 record inserted 667
668 record inserted 668
669 record inserted 669
670 record inserted 670
671 record inserted 671
672 record inserted 672
673 record inserted 673
674 record inserted 674
675 record inserted 675
676 record inserted 676
677 record inserted 677
678 record inserted 678
679 record inserted 679
680 record inserted 680
681 record inserted 681
682 record inserted 682
683 record inserted 683
684 record inserted 684
685 record inserted 685
686 record inserted 686
687 record inserted 687
688 record inserted 688
689 record inserted 689
690 record inserted 690
691 record inserted 691
692 record inserted 692
693 record inserted 693

694 record inserted 694
695 record inserted 695
696 record inserted 696
697 record inserted 697
698 record inserted 698
699 record inserted 699
700 record inserted 700
701 record inserted 701
702 record inserted 702
703 record inserted 703
704 record inserted 704
705 record inserted 705
706 record inserted 706
707 record inserted 707
708 record inserted 708
709 record inserted 709
710 record inserted 710
711 record inserted 711
712 record inserted 712
713 record inserted 713
714 record inserted 714
715 record inserted 715
716 record inserted 716
717 record inserted 717
718 record inserted 718
719 record inserted 719
720 record inserted 720
721 record inserted 721
722 record inserted 722
723 record inserted 723
724 record inserted 724
725 record inserted 725
726 record inserted 726
727 record inserted 727
728 record inserted 728
729 record inserted 729
730 record inserted 730
731 record inserted 731
732 record inserted 732
733 record inserted 733
734 record inserted 734
735 record inserted 735
736 record inserted 736
737 record inserted 737
738 record inserted 738
739 record inserted 739
740 record inserted 740
741 record inserted 741
742 record inserted 742
743 record inserted 743
744 record inserted 744
745 record inserted 745
746 record inserted 746
747 record inserted 747
748 record inserted 748
749 record inserted 749
750 record inserted 750
751 record inserted 751
752 record inserted 752
753 record inserted 753
754 record inserted 754
755 record inserted 755
756 record inserted 756
757 record inserted 757
758 record inserted 758
759 record inserted 759
760 record inserted 760
761 record inserted 761
762 record inserted 762
763 record inserted 763
764 record inserted 764
765 record inserted 765
766 record inserted 766
767 record inserted 767
768 record inserted 768
769 record inserted 769
770 record inserted 770
771 record inserted 771
772 record inserted 772
773 record inserted 773
774 record inserted 774
775 record inserted 775
776 record inserted 776
777 record inserted 777
778 record inserted 778
779 record inserted 779
780 record inserted 780
781 record inserted 781
782 record inserted 782
783 record inserted 783
784 record inserted 784
785 record inserted 785
786 record inserted 786
787 record inserted 787
788 record inserted 788
789 record inserted 789
790 record inserted 790
791 record inserted 791
792 record inserted 792
793 record inserted 793
794 record inserted 794
795 record inserted 795
796 record inserted 796
797 record inserted 797
798 record inserted 798
799 record inserted 799
800 record inserted 800
801 record inserted 801
802 record inserted 802
803 record inserted 803
804 record inserted 804
805 record inserted 805
806 record inserted 806
807 record inserted 807
808 record inserted 808
809 record inserted 809
810 record inserted 810
811 record inserted 811
812 record inserted 812
813 record inserted 813
814 record inserted 814
815 record inserted 815
816 record inserted 816
817 record inserted 817
818 record inserted 818
819 record inserted 819
820 record inserted 820
821 record inserted 821
822 record inserted 822
823 record inserted 823
824 record inserted 824
825 record inserted 825
826 record inserted 826
827 record inserted 827
828 record inserted 828
829 record inserted 829
830 record inserted 830
831 record inserted 831
832 record inserted 832
833 record inserted 833
834 record inserted 834
835 record inserted 835
836 record inserted 836
837 record inserted 837
838 record inserted 838
839 record inserted 839
840 record inserted 840
841 record inserted 841
842 record inserted 842
843 record inserted 843
844 record inserted 844
845 record inserted 845
846 record inserted 846
847 record inserted 847
848 record inserted 848
849 record inserted 849
850 record inserted 850
851 record inserted 851
852 record inserted 852
853 record inserted 853
854 record inserted 854
855 record inserted 855
856 record inserted 856
857 record inserted 857
858 record inserted 858
859 record inserted 859
860 record inserted 860
861 record inserted 861
862 record inserted 862
863 record inserted 863
864 record inserted 864
865 record inserted 865
866 record inserted 866
867 record inserted 867
868 record inserted 868
869 record inserted 869
870 record inserted 870
871 record inserted 871
872 record inserted 872
873 record inserted 873
874 record inserted 874
875 record inserted 875
876 record inserted 876
877 record inserted 877
878 record inserted 878
879 record inserted 879
880 record inserted 880
881 record inserted 881
882 record inserted 882
883 record inserted 883
884 record inserted 884
885 record inserted 885
886 record inserted 886
887 record inserted 887
888 record inserted 888
889 record inserted 889
890 record inserted 890
891 record inserted 891
892 record inserted 892
893 record inserted 893
894 record inserted 894
895 record inserted 895
896 record inserted 896
897 record inserted 897
898 record inserted 898
899 record inserted 899
900 record inserted 900
901 record inserted 901
902 record inserted 902
903 record inserted 903
904 record inserted 904
905 record inserted 905
906 record inserted 906
907 record inserted 907
908 record inserted 908
909 record inserted 909
910 record inserted 910
911 record inserted 911
912 record inserted 912
913 record inserted 913
914 record inserted 914
915 record inserted 915
916 record inserted 916
917 record inserted 917
918 record inserted 918
919 record inserted 919
920 record inserted 920
921 record inserted 921
922 record inserted 922
923 record inserted 923
924 record inserted 924
925 record inserted 925
926 record inserted 926
927 record inserted 927
928 record inserted 928
929 record inserted 929
930 record inserted 930
931 record inserted 931
932 record inserted 932
933 record inserted 933
934 record inserted 934
935 record inserted 935
936 record inserted 936
937 record inserted 937
938 record inserted 938
939 record inserted 939
940 record inserted 940
941 record inserted 941
942 record inserted 942
943 record inserted 943
944 record inserted 944
945 record inserted 945
946 record inserted 946
947 record inserted 947
948 record inserted 948
949 record inserted 949
950 record inserted 950
951 record inserted 951
952 record inserted 952
953 record inserted 953
954 record inserted 954
955 record inserted 955
956 record inserted 956
957 record inserted 957
958 record inserted 958
959 record inserted 959
960 record inserted 960
961 record inserted 961
962 record inserted 962
963 record inserted 963
964 record inserted 964
965 record inserted 965
966 record inserted 966
967 record inserted 967
968 record inserted 968
969 record inserted 969
970 record inserted 970
971 record inserted 971
972 record inserted 972
973 record inserted 973
974 record inserted 974
975 record inserted 975
976 record inserted 976
977 record inserted 977
978 record inserted 978
979 record inserted 979
980 record inserted 980
981 record inserted 981
982 record inserted 982
983 record inserted 983
984 record inserted 984
985 record inserted 985
986 record inserted 986
987 record inserted 987
988 record inserted 988
989 record inserted 989
990 record inserted 990
991 record inserted 991
992 record inserted 992
993 record inserted 993
994 record inserted 994
995 record inserted 995
996 record inserted 996
997 record inserted 997
998 record inserted 998
999 record inserted 999
1000 record inserted 1000